/src/main/resources/nest/iaf_neuron_ode_module.nestml
/LEMS_NML2_Ex9_FN.run.m
/src/test/resources/examples/L23PyrRS.png
/src/test/resources/examples/L5PC.cell.png
/src/test/resources/examples/MediumNet.net.png
/src/test/resources/examples/ShapedCell.cell.png
/src/test/resources/examples/TwoCell.net.png
/src/test/resources/examples/*.svg

/src/test/resources/*.svg

/src/test/resources/BIOMD0000000185_LEMS.m
/src/test/resources/Locke2008_Circadian_Clock_0.m
/src/test/resources/Locke2008_Circadian_Clock_0_dnsim.txt
/test.sh
/NML2_Overview.gv
/.pydevproject
*.*~
*.class

# Package Files #

target

src/test/resources/tmp
src/test/resources/*.mod
src/test/resources/*.dat
src/test/resources/*nrn*
x86_64

src/test/resources/examples/*.mod
src/test/resources/examples/*.dat
src/test/resources/examples/*.hoc
src/test/resources/examples/*nrn.py

.DS_Store
/src/test/resources/examples/L5PC.cell.json
/src/test/resources/examples/bask.cell.json
/src/test/resources/examples/pyrComplex.cell.json
/src/test/resources/examples/pyr_4_sym.cell.json
/src/test/resources/examples/pyr_4_sym.cell.png
