# NESTML file for Component: $name
#
#    PLEASE NOTE: This export is not yet complete
#

neuron $name:

    state:
#foreach ($s in $state.keySet())##
        $s real = $state.get($s)
#end
    end

    parameters:
#foreach ($p in $parameters.keySet())##
        $p real = $parameters.get($p)
#end
    end

    equations:

#foreach ($sf in $state_functions.keySet())
        $sf real = $state_functions.get($sf)  
#end

#foreach ($dyn in $dynamics.keySet())##
        ${dyn}' = $dynamics.get($dyn)
#end##
#foreach($ev in $events)

            # Event: $ev.name
#if ($ev.direction == "+" )##
            if $ev.condition > 0:
#end##
#if ($ev.direction == "-" )##
            if $ev.condition < 0:
#end##
#foreach ($state in $ev.effect.state.keySet())##
                $state = $ev.effect.state.get($state)
#end##
                emitSpike()   #  Todo: check for this in event!
            end
#end##

    end


    input:
        spikeBuffer <- spike  
        currentBuffer <- current
    end

    output: spike

    update:
        integrate_odes()

    end


end






