# Cell file for Component: $name

print("Loading cell file for $name")

## Bad!!  NEURON specific
from pyNN.neuron import NativeCellType
from nrnutils import Section, Mechanism
from neuron import h


class $name(object):

    def __init__(self, **parameters):
        print("Created instance of $name with params: %s"%parameters)

        h(" create soma")
        h(" objectvar m_${name}")

        h.soma.L = 10.0
        h.soma(0.5).diam = 10.0
        h.soma(0.5).cm = 318.31927
        h.soma.push()
        h(" soma  { m_${name} = new ${name}(0.5) } ")


        self.soma = h.soma
        self.source = self.soma(0.5)._ref_v

        # needed for PyNN
        self.source_section = self.soma
        self.parameter_names = ()
        self.traces = {}
        self.recording_time = False

    def memb_init(self):
        for seg in self.soma:
            seg.v = -9 #self.v_init

class ${name}Type(NativeCellType):

    default_parameters = {}
    default_initial_values = {}
    recordable = []
    units = {}
    receptor_types = []
    model = $name

