# Main PyNN script for: $name

from pyNN.utility import get_simulator, init_logging

sim, options = get_simulator(("--plot-figure", "Plot the simulation results to a file.", {"action": "store_true"}),
                             ("--debug", "Print debugging information"))

if options.debug:
    init_logging(None, debug=True)

sim.tstop = $t_end

sim.setup(timestep=$dt)

#foreach ($pop in $populations.keySet() )
#foreach ($pop_element in $populations.get($pop).keySet())
#if ($pop_element=="component")
#set($component_array=$populations.get($pop).get($pop_element))
#foreach ($component_element in $component_array.keySet())
#if ($component_element=="parameters")
#set($parameters_array=$component_array.get($component_element))

cell_params_$component_array.name = {
#foreach($parameter in $parameters_array.keySet())     '$parameter':$parameters_array.get($parameter), 
#end
} #end
#end
#end
#end
#end


#foreach ($pop in $populations.keySet() )
#set($pop_size=$populations.get($pop).size)
#set($pop_component=$populations.get($pop).component.name)

# Population: $pop, size: $pop_size, component: $pop_component
from ${pop_component}_celldefinition import ${pop_component}Type
#from ${pop_component}_celldefinition import ${pop_component}
$pop = sim.Population($pop_size, ${pop_component}Type(**cell_params_$pop_component), label="pop_$pop")

#end

# Inputs...
#foreach ($input_ref in $inputs.keySet() )
#set($input=$inputs.get($input_ref))
# Input: $input_ref which is ${input.component.name} on cell ${input.population_index} in ${input.population}
from ${input.component.name}_inputdefinition import ${input.component.name}
${input_ref}_${input.population}_${input.population_index} = ${input.component.name}( #foreach($p in $input.component.parameters.keySet()) $p=$input.component.parameters.get($p), #end )
${input_ref}_${input.population}_${input.population_index}.inject_into([${input.population}[${input.population_index}]])

#end


print("Running a PyNN based simulation in %s for %sms (dt: %sms)"%(options.simulator.upper(), sim.tstop, sim.get_time_step()))

#foreach ($d in $display )
# Display: $d.name
#foreach ($curve in $d.curves )
# Line: $curve.name: Pop: $curve.population; cell: $curve.population_index; value: $curve.population
${curve.population}.record('soma(0.5).${curve.ordinate}')
#end
#end


sim.run(sim.tstop)

if options.plot_figure:

    import matplotlib.pyplot as plt
#foreach ($d in $display )
    # Display: $d.name: $d.title
    plt.figure("${d.title}")
#foreach ($curve in $d.curves )
    # Line: $curve.name: Pop: $curve.population; cell: $curve.population_index; value: $curve.ordinate
    data =  ${curve.population}.get_data()
    for seg in data.segments:
        vm = seg.analogsignalarrays[0]
        ts = [i*sim.get_time_step() for i in xrange(len(vm))]
        plt.plot(ts, vm, '-', label='${curve.name}')
#end
    plt.legend()
#end
    plt.show()

sim.end()