{"default_parameters":{
#foreach ($child in $NeuronComponents)
#set( $count = 1)

##Parameters
	#foreach ($par in $child.parameters)
	#if ($count > 1)
		,
	#end
	#set( $count = $count + 1)
		#set( $foo = """neuron_model_param_" + $par.type +  "_" + $par.name + """:{""type"":""" + $par.type + """,""value"":""" + $par.value + """,""integer"":""" +  $par.integer + """,""fraction"":""" +   $par.fraction + """}"  )
		$foo
	#end


##THE CHILDREN
#foreach ($child2 in $child.Children)

##Parameters
	#foreach ($par in $child2.parameters)
		#set( $foo = ",""neuron_model_param_" + $par.type +  "_" + $child2.name +  "_" + $par.name + """:{""type"":""" + $par.type + """,""value"":""" + $par.value + """,""integer"":""" +  $par.integer + """,""fraction"":""" +   $par.fraction + """}"  )
		$foo
	#end

		
		
##THE CHILDREN
#foreach ($child3 in $child2.Children)

##Parameters
	#foreach ($par in $child3.parameters)
		#set( $foo = ",""neuron_model_param_" + $par.type +  "_" + $child2.name + "_" + $child3.name +  "_" + $par.name + """:{""type"":""" + $par.type + """,""value"":""" + $par.value + """,""integer"":""" +  $par.integer + """,""fraction"":""" +   $par.fraction + """}"  )
		$foo
	#end

					
							
							
##THE CHILDREN
#foreach ($child4 in $child3.Children)

##Parameters
	#foreach ($par in $child4.parameters)
		#set( $foo = ",""neuron_model_param_" + $par.type +  "_" + $child2.name + "_" + $child3.name + "_" + $child4.name +  "_" + $par.name + """:{""type"":""" + $par.type + """,""value"":""" + $par.value + """,""integer"":""" +  $par.integer + """,""fraction"":""" +   $par.fraction + """}"  )
		$foo
	#end
			
							
							
									
##THE CHILDREN
#foreach ($child5 in $child4.Children)

##Parameters
	#foreach ($par in $child5.parameters)
		#set( $foo = ",""neuron_model_param_" + $par.type +  "_" + $child2.name + "_" + $child3.name + "_" + $child4.name + "_" + $child5.name +  "_" + $par.name + """:{""type"":""" + $par.type + """,""value"":""" + $par.value + """,""integer"":""" +  $par.integer + """,""fraction"":""" +   $par.fraction + """}"  )
		$foo
	#end

#end

#end

#end

#end
}
}
	
#end

