{"default_readback":[
#foreach ($child in $NeuronComponents)
#set( $count = 1)
##Exposures
	#foreach ($par in $child.exposures)
	#if ($count > 1)
		,
	#end
	#set( $count = $count + 1)
		#set( $foo = "{""name"":""" + $child.name + "_exposure_" + $par.type +  "_" + $par.name + """,""type"":""" + $par.type + """,""integer"":""" +  $par.integer + """,""fraction"":""" +   $par.fraction + """}"  )
		$foo
	#end
	


##THE CHILDREN
#foreach ($child2 in $child.Children)

##Parameters
#foreach ($par in $child2.exposures)
	#set( $foo = ",{""name"":""" + $child.name + "_exposure_" + $par.type  +  "_" + $child2.name +  "_" + $par.name + """,""type"":""" + $par.type + """,""integer"":""" +  $par.integer + """,""fraction"":""" +   $par.fraction + """}"  )
	$foo
#end

		
		
##THE CHILDREN
#foreach ($child3 in $child2.Children)
##Parameters
#foreach ($par in $child3.exposures)
	#set( $foo = ",{""name"":""" + $child.name + "_exposure_" + $par.type  +  "_" + $child2.name +  "_" + $child3.name +  "_" + $par.name + """,""type"":""" + $par.type + """,""integer"":""" +  $par.integer + """,""fraction"":""" +   $par.fraction + """}"  )
	$foo
#end

					
							
							
##THE CHILDREN
#foreach ($child4 in $child3.Children)
##Parameters
#foreach ($par in $child4.exposures)
	#set( $foo = ",{""name"":""" + $child.name + "_exposure_" + $par.type  +  "_" + $child2.name +  "_" + $child3.name +  "_" + $child4.name +  "_" + $par.name + """,""type"":""" + $par.type + """,""integer"":""" +  $par.integer + """,""fraction"":""" +   $par.fraction + """}"  )
	$foo
#end
			
							
							
									
##THE CHILDREN
#foreach ($child5 in $child4.Children)
##Parameters
#foreach ($par in $child5.exposures)
	#set( $foo = ",{""name"":""" + $child.name + "_exposure_" + $par.type  +  "_" + $child2.name +  "_" + $child3.name +  "_" + $child4.name +  "_" + $child5.name +  "_" + $par.name + """,""type"":""" + $par.type + """,""integer"":""" +  $par.integer + """,""fraction"":""" +   $par.fraction + """}"  )
	$foo
#end

#end

#end

#end

#end
]
}
	
#end

