######################################################
### Template for SOM-VHDL codegen.                 ###
### This is work in progress. Expect major changes.###
######################################################

---------------------------------------------------------------------
-- Begin Internal Processes
---------------------------------------------------------------------

begin


#if ($name.contains("neuron_model"))
-- Instantiate the mux.
	--
dut : ParamMux
	generic map (
		NSpikeSources	=> cNSpikeSources,
		NOutputs		=> cNOutputs,
		NSelectBits		=> cNSelectBits)
	port map(
		SpikeIn 	=> eventport_in_spike_aggregate,
		SelectIn	=> SelectSpikesIn,
		SpikeOut	=> SpikeOut);

#end

---------------------------------------------------------------------
-- Child Component Instantiations and corresponding internal variables
---------------------------------------------------------------------
#set( $count = 0)
#foreach ($child in $Children)
#set( $foo = " " + $child.name + "_uut : " + $child.name)
$foo 
    port map (	clk => clk,
				rst => rst,
				ce => ce,
				step_once_go => step_once_go,
##Event Ports
    #foreach ($par in $child.eventports)
		#set( $foo = "eventport_" + $par.direction +  "_" + $par.name + " => SpikeOut(" + $count + "),"  )
		$foo
		#set( $count = $count + 1)
	#end

##Parameters
	#foreach ($par in $child.parameters)
		#set( $foo = "param_" + $par.type +  "_" + $par.name + " => param_"  + $par.type +  "_" + $child.name + "_" + $par.name + ","  )
		$foo
	#end

##Requirements
	#foreach ($par in $child.requirements)
		#set( $foo = "requirement_" + $par.type +  "_" + $par.name + " => statevariable_" + $par.type +  "_" + $par.name + ","  )
		$foo
	#end
	
##Exposures
	#foreach ($par in $child.exposures)
		#set( $foo = "exposure_" + $par.type +  "_" + $par.name + " => exposure_" + $par.type +  "_" + $child.name + "_" + $par.name + "_internal," )
		$foo
	#end
		   
##System Parameters
           sysparam_time_timestep => sysparam_time_timestep,
           sysparam_time_simtime => sysparam_time_simtime
		   );
		   
		   

##Exposure Signals
#foreach ($par in $child.exposures)
#set( $foo = "exposure_" + $par.type +  "_" + $child.name + "_" + $par.name + " <= exposure_" + $par.type +  "_" + $child.name + "_" + $par.name + "_internal;" )
$foo
#end



#end

---------------------------------------------------------------------


